/** Google Font **/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


/** Common **/

html, body {
    margin: 0;
    padding: 0;
}
html, div, figure, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
img {
    display: block;
    outline: none;
}
img, input, textarea, button {
    border: 0;
    outline: 0;
}
a, a:hover {
    text-decoration: none;
}
a:focus {
    outline: 0;
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, p, a, li, span, div, h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff url(../images/main-bg.jpg) repeat;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

/** Home Page **/
.header {
    position: relative;
    background-color: #fff;
    height: 120px;
    padding: 0px 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-fixed {
    position: fixed;
    background: #fff;
    height: 70px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.23);
}
.header-fixed .header-menu, .header-fixed .header-language, .header-fixed .header-login, .header-fixed .social-icons-home {
    display: none;
}
.header-fixed .menu_items {
    display: block !important;
    margin-top: 10px
}
.logo a  .first-logo {
    height: 165px;
}
.logo {
    width: 40%;
    float: left;
}
.logo a {
    float: left;
}
.logo a  img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header-fixed .logo a  .first-logo {
    height: 70px;
    width: auto;
}
.second-logo {
 margin-top: 40px;
 height: 60px;
}
.header-fixed .logo a  .second-logo {
    margin-top: 20px;
    height: 40px;
}
.menu-section {
    width: 60%;
    float: left;
    z-index: 999;
}
.menu-top {
    float: right;
    margin-top: 25px;
}
.header-fixed .menu-top {
    margin-top: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.social-icons-home ul li {
    float: left;
}
.social-icons-home ul li a {
    background: url(../images/icons/home-social.png) no-repeat left 2px;
    width: 21px;
    height: 21px;
    text-indent: -9999px;
    float: left;
    margin-right: 10px;
    display: inline-block;
}
.social-icons-home ul .facebook {
    background-position: 0px 0px
}
.social-icons-home ul .twitter {
    background-position: -35px 0px;
}
.social-icons-home ul .instagram {
    background-position: -67px 0px;
}
.social-icons-home ul .facebook:hover {
    background-position: 0px -28px;
}
.social-icons-home ul .twitter:hover {
    background-position: -35px -28px;
}
.social-icons-home ul .instagram:hover {
    background-position: -67px -28px;
}
.menu-section ul li a {
    color: #000;
    font-weight: 500;
}
.menu-section ul li a:hover, .menu-section ul li .active {
    color: #38ad36;
}
.header-menu, .header-language, .header-login, .social-icons-home {
    float: right;
}
.header-menu ul li {
    float: left;
    padding-right: 30px;
}
.header-menu ul li:last-child {
    padding-right: 20px;
}
.header-menu ul li:last-child a {
    border-left: 1px solid #dadada;
    display: block;
    padding-left: 20px;
}
.header-language li {
    padding: 0px 20px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    margin-top: 2px;
}
.header-login ul li {
    padding-left: 10px;
}
.header-login ul li >a {
    background: url(../images/icons/login-icon.png) no-repeat left 3px;
    padding-left: 25px;
    margin-left: 10px;
}
.header-login ul li >a:hover {
    color: #000;
}
#home {
    margin-top: 120px;
}
.newblk {
    padding: 40px 0;
    width: 100%;
}
.aboutblk {
    background: #003e6f;
    height: 410px;
}
}
.Fright {
    float: right;
}
.Fleft {
    float: left;
}
h1, h2, h3, h4  {
    font-weight: 700;
    line-height: 1.42857143;
    color: #333333;
}
.aboutblk .row > .col-md-8 {
   padding: 40px 0;
}
.aboutblk h2 {
    color: #d4b577;
    font-size: 26px; 
    margin-bottom: 0px;
}
.aboutblk h5 {
    color: #fff;
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.abt-box h5 {
   color: #88b3d6;
   font-size: 18px; 
   font-weight: 500;
   margin:15px 0 5px 0; 
}
.abt-box p {
   color: #eee;
   font-size: 13px; 
   line-height: 22px;
   font-weight: 400;
}
.abt-mesg {
    background: #272c3f;
    height: 410px;
}
.abt-mesg h4 {
    color: #fff;
    padding: 8px 25px 8px 10px;
    display: inline;
    background: #46a5d2;
    font-size: 20px;
    font-weight: 500;
}
.abt-mesg p {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    padding: 25px 10px 0 10px;
}
.abt-mesg h5 {
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px
}

.abt-mesg h5 span {
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
}

.serviceblk h4 {
    color: #262c38;
    font-size: 18px;
    margin: 10px 0 5px 0;
}


.serviceblk p {
    color: #657184;
}

/*.serviceblk a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7px 18px;
    background: #fff;
    border: 1px solid #ff6f00;
    color: #ff6f00;
    display: inline-block;
    margin-top: 15px;
}*/
/** About **/
.about {
    background: #fff;
    padding: 70px 0;
}

.line-bottom {
    color: #202C45 ;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    position: relative;
}
.line-bottom span {
    color: #4c583d;
    display: block;
}

.line-bottom:after {
    bottom: 0px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #4c583d;
}
.lead {
    line-height: 26px;
    margin-bottom: 10px;
}


.btn-theme {
    display: inline-block;
    margin-top: 10px;
    padding:5px 12px; 
    font-size: 11px;
    color: #fff;
    background-color: #202C45;
    border-color: #202C45;
}
.btn-theme:hover {
    color: #ccc;
}
.about p {
    font-size: 13px;
    line-height: 22px;
}
.about img {
    margin-bottom: 15px;
}
footer {
    background: #dbe6ee;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
    width:100%;
    color: #333;
}



