
/* Google Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900);
/* Reset */
html, body {
	margin: 0;
	padding: 0;
	height:100%;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
p {
	text-align: left;
	font-size:15px;
	font-weight:400;
	line-height:22px;
	margin-bottom:10px;
}
.absolute {
	position: absolute;
}
img {
	display: block;
	outline: none;
}
img, input, textarea, button {
	border: 0;
	outline: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: 0 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a {
	color:#0073C6;
}
.clear {
	clear: both;
	font-size: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: block;
}
* html .clearfix {
	display: list-item;
}
form legend {
	display: none;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, p, a, li, span, div {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
.relative {
	position: relative;
}
body {
	font-size: 16px;
	line-height:25px;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background: #fff;
	overflow-x: hidden;
	width:100%;
	-webkit-font-smoothing: antialiased;
}
.header {
	background:#0073c6;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	height: 90px;
	position: fixed;
	width: 100%;
	z-index:99;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
 transition: height 0.3s -webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	-ms-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	transition: padding 0.3s
}
.header.header-small {
	height: 55px;
	background: #0073c6;
}
.header .logo {
	padding: 28px 0;
	float: left;
}
.header .logo img {
	height:32px;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s
}
.header.header-small .logo {
	padding: 15px 0;
}
.header.header-small .logo img {
	height:25px;
}
.header ul.top-nav {
	float: right;
	padding: 28px 0;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	-ms-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	transition: padding 0.3s
}
.header.header-small ul.top-nav {
	float: right;
	padding: 10px 0;
}
body#home header {
	background: transparent;
}
body#home .header.header-small {
	height: 55px;
	background: #0073c6;
}
.header ul.top-nav li {
	float: left;
	margin-left:20px;
	background:transparent;
	padding: 2px 20px;
	border:2px #fff solid;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.header ul.top-nav li a {
	font-size:15px;
	color:#fff;
	font-weight:400;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.header ul.top-nav li:hover {
	background-color: rgba(255,255,255,0.5);
}
/*.header ul.top-nav li:hover a {
    color: #0073c6;
}*/
.top-form {
	background:#0073c6;
	padding:150px 0 50px 0;
	width:100%;
}
.top-form h1 {
	font-size:52px;
	color:#fff;
	line-height:50px;
	margin-bottom:15px;
}
.top-form p {
	font-size:20px;
	color:#a4d7fc;
	line-height:25px;
	margin-bottom:15px;
}
.top-form input[type=text], .top-form select {
	border:1px #80b9e3 solid;
	height:40px;
	line-height:40px;
	width:100%;
	font-size:16px;
	font-weight:300;
	color:#c9e7fd;
	margin-bottom:15px;
	padding-left:10px;
	background:#0073c6;
}
.top-form select option {
	background: #0261A5;
}
.top-form input[type=submit] {
	background:#fff600;
	padding:10px 20px;
	color:#0073c6;
	font-weight:500;
	text-transform:uppercase;
}
.top-form input::-webkit-input-placeholder {
color:#c9e7fd;
}
.top-form input::-moz-placeholder {
color:#c9e7fd;
}
.top-form input:-ms-input-placeholder {
color:#c9e7fd;
}
.top-form input:-moz-placeholder {
color:#c9e7fd;
}
.top-form {
	position: relative;
}
.top-slider {
	position: absolute;
	z-index: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: #fff url(../images/loader.gif) no-repeat center center;
	right:0px;
}
.home-block {
	padding:90px 0;
	background:#fff;
	width:100%;
}
h2 {
	font-size:22px;
	font-weight:700;
	color:#000;
	margin-bottom:20px;
	text-align:center;
}
h3 {
	font-size:16px;
	line-height:25px;
	font-weight:300;
	color:#000;
	margin:0 auto 20px auto;
	text-align:center;
	width:600px;
}
.home-block h3 {
	margin-bottom:50px;
}
.home-block img {
	margin:0 auto 25px auto;
}
.home-block p {
	font-size:20px;
	font-weight:700;
	color:#000;
	text-align:center;
}
.greybg {
	background:#f6f6f6;
	padding:90px 0 150px 0;
}
.diamonds {
	text-align: center;
	overflow: visible;
	white-space: nowrap;
	display: inline-block;
}
.diamond-row-wrap {
	text-align: center;
	position: relative;
	float: left;
	clear: both;
}
.diamond-row-upper, .diamond-row-lower {
	overflow: visible;
	clear: both;
	width: 100%;
}
.diamond-row-lower {
	position: absolute;
	bottom: 0;
}
.diamond-row-lower .diamond-box {
	margin-left: 64.644660941%; /* 1 - 1 / sqrt(2) / 2 */
	margin-top: 64.644660941%;
}
.diamond-box-wrap {
	float: left;
	width: 250px; /* Size of diamonds */
	height: 250px;
}
.diamond-box {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 70.710678118%; /* x = sqrt(x^2 / 2) = 1 / sqrt(2) = 0.70710678118 */
	height: 70.710678118%;
	margin: 14.644660941%;
	border: 1px solid transparent;
}
.diamond-box-inner {
	background:#fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 141.421356237%; /* sqrt(2) */
	height: 141.421356237%;
	margin: -20.7106781185% 0 0 -20.7106781185%; /* (1 - sqrt(2)) / 2 */
	display: table;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.diamond-box-inner a {
	color: #A3A3A3;
	vertical-align: middle;
	height: 100%;
	display: table-cell;
	padding: 0 10px;
	white-space: initial;
	line-height: 19px;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.diamond-box:hover .diamond-box-inner {
	background:#0073c6;
}
.diamond-box:hover .diamond-box-inner a {
	color:#fff;
}
/* 
 *  Owl Carousel 
 */
.owl-carousel .animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
	z-index: 0;
}
.owl-carousel .owl-animated-out {
	z-index: 1;
}
.owl-carousel .fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}
 @-webkit-keyframes fadeOut {
 0% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
@keyframes fadeOut {
 0% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel.owl-loaded {
	display: block;
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}
.owl-carousel.owl-hidden {
	opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
	display: none;
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	-webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}
.owl-carousel.owl-rtl {
	direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
	float: right;
}
.no-js .owl-carousel {
	display: block;
}
.owl-dots {
	text-align:center;
	margin-top:20px;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
	width: 8px;
	height: 8px;
	margin: 0px 3px;
	background: #338fd1;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span {
	background: #fff;
}
.testi-block {
	background:#0073c6;
	padding:90px 0 40px 0;
}
.testi-block h2 {
	color:#fff;
	margin-bottom:60px;
}
.testi-block .testimonials h6 {
	color:#fff;
	font-size:16px;
	font-style:italic;
	margin-bottom:5px;
	font-weight:300;
}
.testi-block .testimonials h5 {
	color:#fff;
	font-size:16px;
	margin-bottom:15px;
	font-weight:500;
}
.testi-block .testimonials p {
	color:#82c3f3;
	margin-bottom:20px;
	font-weight:300;
	font-size:16px;
	border-bottom:1px #1f84cd solid;
	padding-bottom:20px;
}
.testi-block .testimonials .testi-person {
	color:#fff;
	font-size:16px;
	margin-bottom:10px;
	font-weight:400;
}
.testi-block .testimonials .testi-person span {
	color:#fff;
	font-size:16px;
	font-style:italic;
	margin-bottom:5px;
	font-weight:300;
	display:block;
}
footer {
	background:#fff;
	width:100%;
}
footer .footer-nav {
	padding:50px;
}
footer .footer-nav h2 {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	margin-bottom: 20px;
	text-align:left;
}
footer .footer-nav a {
	font-size: 14px;
	font-weight: 300;
	color: #999;
	margin-bottom: 10px;
	display:block;
}
footer .footer-nav a:hover {
	color:#0073c6;
}
.mrgnav {
	margin-top:40px;
}
.social-icon {
	float:right;
}
.social-icon li {
	float:left;
	margin-left:15px;
}
.social-icon li img {
	filter: alpha(opacity=50);
	opacity: .5;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition-property: -webkit-filter;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-filter;
	-moz-transition-duration: 1s;
	-ms-transition-property: -ms-filter;
	-ms-transition-duration: 1s;
	transition-property: all;
	transition-duration: 1s;
}
.social-icon li:hover img {
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}
footer .copyrights {
	padding:10px 0;
	border-top:1px #f2f2f2 solid;
}
footer .copyrights p, footer .copyrights a {
	font-size: 14px;
	font-weight: 300;
	color: #999;
	margin: 0;
}
footer .copyrights a:hover {
	color:#0073c6;
}
/*  Remodal - v1.0.2 */

html.remodal-is-locked {
	overflow: hidden;
}
.remodal, [data-remodal-id] {
 display: none;
}
.remodal-overlay {
	position: fixed;
	z-index: 9999;
	top: -5000px;
	right: -5000px;
	bottom: -5000px;
	left: -5000px;
	display: none;
}
.remodal-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow: auto;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after {
	display: inline-block;
	height: 100%;
	margin-left: -0.05em;
	content: "";
}
.remodal-overlay, .remodal-wrapper {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.remodal {
	position: relative;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
.remodal-is-initialized {
	/* Disable Anti-FOUC */
	display: inline-block;
}
.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.remodal-overlay {
	background: rgba(43, 46, 56, 0.9);
}
.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening {
	-webkit-animation: remodal-overlay-opening-keyframes 0.3s;
	animation: remodal-overlay-opening-keyframes 0.3s;
}
.remodal-overlay.remodal-is-closing {
	-webkit-animation: remodal-overlay-closing-keyframes 0.3s;
	animation: remodal-overlay-closing-keyframes 0.3s;
}
.remodal-wrapper {
	padding: 10px 10px 0;
}
.remodal {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 20px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	color: #2b2e38;
	background: #fff;
}
.remodal.remodal-is-opening, .remodal.remodal-is-closing {
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.remodal.remodal-is-opening {
	-webkit-animation: remodal-opening-keyframes 0.3s;
	animation: remodal-opening-keyframes 0.3s;
}
.remodal.remodal-is-closing {
	-webkit-animation: remodal-closing-keyframes 0.3s;
	animation: remodal-closing-keyframes 0.3s;
}
.remodal, .remodal-wrapper:after {
	vertical-align: middle;
}
.remodal-close {
	position: absolute;
	top: 0px;
	right: -35px;
	display: block;
	overflow: visible;
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	color: #95979c;
	border: 0;
	outline: 0;
	background: #0073C6;
}
.remodal-close:hover {
	color: #2b2e38;
}
.remodal-close:before {
	line-height: 35px;
	display: block;
	width: 35px;
	content: "\f00d";
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}
/* Dialog buttons */

.remodal-confirm, .remodal-cancel {
	font: inherit;
	display: inline-block;
	overflow: visible;
	min-width: 110px;
	margin: 0;
	padding: 12px 0;
	cursor: pointer;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: 0;
}
.remodal-confirm {
	color: #fff;
	background: #81c784;
}
.remodal-confirm:hover {
	background: #66bb6a;
}
.remodal-cancel {
	color: #fff;
	background: #e57373;
}
.remodal-cancel:hover {
	background: #ef5350;
}
.remodal-confirm::-moz-focus-inner, .remodal-cancel::-moz-focus-inner {
 padding: 0;
 border: 0;
}

/* Keyframes */

@-webkit-keyframes remodal-opening-keyframes {
 from {
 -webkit-transform: scale(1.05);
 transform: scale(1.05);
 opacity: 0;
}
to {
	-webkit-transform: none;
	transform: none;
	opacity: 1;
}
}
 @keyframes remodal-opening-keyframes {
 from {
 -webkit-transform: scale(1.05);
 transform: scale(1.05);
 opacity: 0;
}
to {
	-webkit-transform: none;
	transform: none;
	opacity: 1;
}
}
 @-webkit-keyframes remodal-closing-keyframes {
 from {
 -webkit-transform: scale(1);
 transform: scale(1);
 opacity: 1;
}
to {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	opacity: 0;
}
}
 @keyframes remodal-closing-keyframes {
 from {
 -webkit-transform: scale(1);
 transform: scale(1);
 opacity: 1;
}
to {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	opacity: 0;
}
}
 @-webkit-keyframes remodal-overlay-opening-keyframes {
 from {
 opacity: 0;
}
to {
	opacity: 1;
}
}
 @keyframes remodal-overlay-opening-keyframes {
 from {
 opacity: 0;
}
to {
	opacity: 1;
}
}
 @-webkit-keyframes remodal-overlay-closing-keyframes {
 from {
 opacity: 1;
}
to {
	opacity: 0;
}
}
 @keyframes remodal-overlay-closing-keyframes {
 from {
 opacity: 1;
}
to {
	opacity: 0;
}
}

/* Media queries */

@media only screen and (min-width: 641px) {
.remodal {
	max-width: 850px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}
}
/* IE8 */

.lt-ie9 .remodal-overlay {
	background: #2b2e38;
}
.lt-ie9 .remodal {
	width: 700px;
}
.landingblk .sectionpad {
	padding: 64px 40px !important;
}
.popup-btn a {
	background:#fff;
	padding:10px 20px;
	color:#0073c6;
	font-weight:500;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:16px;
	display:block;
	text-align: center;
}
.popup-btn a:hover {
	background:#fcfcfc;
}
.remodal.login-popup span {
	display: inline-block;
	width: 50px;
	font-size: 22px;
	color: #84C7F7;
	background: #0073c6;
	position: absolute;
	left: 50%;
	top: -12px;
	margin-left: -25px;
	text-align: center;
}
.remodal.login-popup .divider {
	height:1px;
	width:100%;
	background: rgb(51, 143, 209);
	position:relative;
}
.remodal.login-popup .sectionpad h2 {
	color:#fff;
}
.remodal.login-popup {
	width: auto !important;
	max-width: inherit !important;
	height: 430px;
	padding:0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
form.landingblk {
	width:350px;
	background:#0073c6 url(../images/ico-login.png) no-repeat 180px center;
}
form.active {
	display: block;
}
form.login {
	width: 650px;
}
form.registers {
	width: 650px;
}
.forgotpass {
	width: 650px;
}
.login-popup-blk {
	width:400px;
	float:left;
	padding:40px;
	background:#fff;
}
.blue-popup-blk {
	width: 250px;
	float: left;
	background: #0073c6 url(../images/ico-login.png) no-repeat 80px center;
	height: 430px;
}
.main-login-box {
	text-align: left;
}
.main-login-box h5 {
	font-size: 22px;
	font-weight: 700;
	color: #000;
	margin-bottom: 10px;
}
.main-login-box h6 {
	font-size: 16px;
	line-height: 25px;
	font-weight: 300;
	color: #666;
	margin-bottom:25px;
}
.main-login-box label {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #f6f8fa;
	border: 1px #eee solid;
	font-size: 16px;
	font-weight: 600;
	color: #6c7a86;
	height: 45px;
	width: 40px;
	text-align: center;
	line-height: 40px;
}
.main-login-box input[type="text"], .main-login-box input[type="password"] {
	width:100%;
	height:45px;
	line-height:45px;
	background:#fafeff;
	border:1px #eee solid;
	margin-bottom:20px;
	padding-left:45px;
}
.input-layout {
	position:relative;
}
.sign-in-btn {
	display: block;
	min-width: 108px;
	margin: 5px 0;
	border: 1px solid #00a8ff;
	background: #00a8ff;
	color: #fff;
	font-weight: 600;
	-webkit-border-radius: 25rem;
	border-radius: 25rem;
	padding: 8px 50px;
}
.main-login-box .sectionpad {
	padding: 56px 40px;
}
.ls-slide:after {
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(0,0,0,0.6);
	z-index:0;
}
.ls-l img {
	margin:0 auto;
}
.ls-content {
}
.ls-content h1 {
	text-align:center;
	font-size:80px;
	font-weight:900;
	color:#fff;
	margin:20px 0 !important;
}
.ls-content p {
	text-align:center;
	font-size:16px;
	font-weight:400;
	color:#fff;
	padding:0 10%;
}
.app-container {
	width:100%;
	height:800px;
	height: -moz-calc(100% - 135px);
	height: -webkit-calc(100% - 135px);
	height: calc(100% - 135px);
	display:block;
	background:#fff;
	position: relative;
	overflow: hidden;
}
.height90 {
	height:90px;
}
.mapview {
	width: 60%;
	float: left;
	height:100%;
	position: relative;
	overflow: hidden;
	background-color: rgb(229, 227, 223);
}
.taskview {
	width: 40%;
	float: left;
	height:100%;
	position: relative;
	overflow-y:auto;
	overflow-x:hidden;
	background-color: #f3f3f3;
}
.task-list {
	padding:15px;
}
.task-list .tsblk {
	width:100%;
	padding:10px;
	background:#fff;
	border-bottom:1px #eee solid;
	position:relative;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.task-list .tsblk:hover {
	background:#fcfcfc;
}
.task-list .tsblk .tscover {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.task-list .tsblk .tsimg {
	width:15%;
	float:left;
	margin-right:15px;
	border:1px #eee solid;
	padding:4px;
}
.task-list .tsblk .tsdesc {
	width:60%;
	float:left;
}
.task-list .tsblk .tsdesc h2, .appliedjobs h2 {
	font-size: 16px;
	line-height:18px;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}
.task-list .tsblk .tsdesc h3, .appliedjobs h3 {
	font-size: 13px;
	line-height:14px;
	margin-bottom:0;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
	color:#666;
}
.task-list .tsblk i, .appliedjobs h3 i {
	margin-right:5px;
}
.task-list .tsblk .tsproject {
	background-color: #eab134;
	font-size: 10px;
	line-height: 11px;
	color: #fff;
	padding: 2px 4px;
	border-radius: 2px;
	display:inline-block;
	text-transform: uppercase;
	z-index: 3;
}
.task-list .tsblk .tsproject span {
	margin-left:5px;
}
.task-list > h1, .task-controls > h1 {
	font-size: 16px;
	line-height:16px;
	font-weight:300;
	margin: 15px 0;
	text-align: left;
	color:#333;
}
.ts-sort {
	margin: 8px 0;
	position:relative;
}
.ts-sort > span {
	font-size: 16px;
	line-height:16px;
	font-weight:300;
	margin-right: 15px;
	text-align: left;
	color:#333;
	display:inline-block;
}
.select-append {
	position:relative;
	margin: 0 !important;
}
.select-append select {
	background-color: #fff;
	color: #999;
	display: inline-block;
	padding: 8px 10px;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 14px;
	border:1px #ccc solid;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance:none;
	width:100%;
	position:relative;
}
.ts-sort select {
	width:130px;
}
.select-append:after {
	content: "";
	position: absolute;
	z-index: 2;
	right: 8px;
	top: 50%;
	margin-top: -3px;
	height: 0;
	width: 0;
	border-top: 6px solid #666;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	pointer-events: none;
}
.task-list .tsrate {
	border-left: 1px solid #eee;
	width: 20%;
	float: right;
	text-align: center;
}
.tslink a {
	margin-right:10px;
	font-size: 11px;
	line-height: 11px;
	color: #666;
	border-radius: 2px;
	display:inline-block;
}
.task-list .tsrate h2 {
	font-size: 30px;
	line-height: 20px;
	font-weight: 500;
	margin: 10px 0 5px 0;
	color: #0073c6;
}
.task-list .tsrate span {
	margin-top: 10px;
	background-color: #0073c6;
	background: #0073C6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0495FF), to(#0073C6));
	background: -moz-linear-gradient(top, #0495FF, #0073C6);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0495FF', endColorstr='#0073C6');
	font-size: 11px;
	color: #fff;
	padding: 0px 8px;
	border-radius: 3px;
	display: inline-block;
}
.task-list .tsrate span.complete {
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#A7A8A8));
	background: -moz-linear-gradient(top, #ccc, #A7A8A8);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#A7A8A8');
}
.task-controls {
	padding:15px;
	background-color: #fff;
	border-bottom: 1px solid #e8e8e8;
}
.task-controls ul li a {
	float:left;
	display: inline-block;
	padding: 10px 14px;
	margin-bottom: 10px;
	margin-right:10px;
	font-size: 13px;
	font-weight: normal;
	line-height: 14px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	color: #fff !important;
}
.task-controls ul li a#showMap {
	background-color: #4c39c6;
	float:right;
	display:none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.task-controls ul li a#showMap.disabled {
	background-color: #C7C4C4;
	cursor: default;
}
.task-controls ul li a#searchBtn {
	background-color: #466881;
}
.task-controls ul li a#settings {
	background-color: #466881;
}
.tsform .tssearch {
	position:relative;
	border:1px #ccc solid;
}
input.form-control {
	width:100%;
	outline:0;
	border-radius:0;
	border:none;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.input-append input {
	border:1px #ccc solid;
}
.tsform .tssearch button {
	width:50px;
	position:absolute;
	top:0;
	right:0;
	background:#fff;
	border-left:1px #ccc solid;
	font-size:15px;
	color:#31b0d5;
	border-radius:0;
	border:none;
	-webkit-box-shadow:none;
	box-shadow: none;
}
.tssetting {
	margin-top:20px;
}
.tssetting .input-append {
	margin-bottom:15px;
}
.tssetting .input-append label {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	margin: 0 0 4px 0;
	text-align: left;
	color: #333;
	display:block;
}
.tsform .tssearch, .tsform .tssetting {
	display:none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.detailsview {
	width: 60%;
	float: left;
	height: 100%;
	padding: 30px;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color:#fff;
 top 0;
	right:-100%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.dtview-header {
	width: 100%;
	padding-right: 250px;
	float: left;
	padding-bottom:20px;
	border-bottom: 1px #ccc solid;
	margin-bottom: 20px;
}
.dtview-payment h6 {
	background: #2E475C;
	color: #fff;
	padding: 6px;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.dtview-payment {
	width: 230px;
	background: #f1f1f1;
	position: absolute;
	right: 15px;
	top: 15px;
	text-align: center;
}
.dtview-payment .task-price {
	font-size: 40px;
	color: #000;
	line-height: 40px;
	margin-bottom: 5px;
	text-align:center;
	padding: 8px;
}
.dtview-payment .task-price span {
	font-size: 16px;
	color: #000;
	line-height: 30px;
	text-align: center;
	vertical-align: top;
}
.dtview-payment .estimated-hours {
	font-size: 15px;
	color: #6D6D6D;
	line-height: 15px;
	text-align:center;
	width: 100%;
}
.dtview-payment button.button-lrg {
	width:100%;
	margin-top:10px;
	padding: 7px;
	color:#fff;
	background: #0073C6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0495FF), to(#0073C6));
	background: -moz-linear-gradient(top, #0495FF, #0073C6);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0495FF', endColorstr='#0073C6');
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.dtview-payment button.button-lrg:hover {
	background: #0495FF;
	background: -webkit-gradient(linear, left top, left bottom, from(#0073C6), to(#0495FF));
	background: -moz-linear-gradient(top, #0073C6, #0495FF);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0073C6', endColorstr='#0495FF');
}
.dtview-header h1 {
	font-size: 25px;
	color: #000;
	line-height: 30px;
	margin-bottom: 15px;
}
.entry-user {
	margin-bottom: 20px;
	color: #AAA;
	font-size: 13px;
}
.entry-user .entry-author, .entry-date {
	display: inline;
}
.entry-user .entry-author img {
	border-radius: 100%;
	margin-right: 10px;
	width: 32px;
	height: 32px;
	border-style: solid;
	border-width: 1px;
	display: inline;
}
.entry-user a {
	color: #0073C6;
	display: inline;
}
.step-bar {
	margin-top: 25px;
}
.step-bar .step {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	white-space: nowrap;
	padding:0;
}
.step-bar .step:before {
	display: block;
	content: "";
	height: 10px;
	margin-bottom: 5px;
	background-color: #d6d6d6;
	border: 1px solid #c9c9c9;
	margin-right: 1px;
	transition: all 2s ease;
}
.step-bar .completed:before, .step-bar .selected:before {
	background-color: #0073C6;
	border: 1px solid #0265AD;
}
.step-bar .step:first-child:before {
	border-radius: 10px 0 0 10px;
}
.step-bar .step:last-child:before {
	border-radius: 0 10px 10px 0;
}
.subheading {
	display:block;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	margin-bottom:10px;
}
.dtview-desc, .dtview-offers, .dtview-comments {
	width: 100%;
	padding-bottom:20px;
	border-bottom: 1px #ccc solid;
	margin-bottom: 20px;
}
p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
	color: #000;
	text-align: left;
}
.tags-blk .tags-single {
	margin-top: 3px;
	margin-bottom: 2px;
	float: left;
	margin-right: 5px;
	padding: 2px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	background-color: #8273A8;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}
.dtview-offers ul li .off-img {
	width: 50px;
	display: block;
	border: 1px solid transparent;
	height: 50px;
	float: left;
	margin-top: 5px;
	margin-right: 15px;
}
.dtview-offers ul li .off-img img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
}
.dtview-offers ul li {
	width:30%;
	margin-right:3%;
	float:left;
	margin-bottom: 25px;
	padding: 10px;
	border: 1px #eee solid;
	border-radius: 5px;
}
.dtview-offers ul li .off-desc {
	float:left;
}
.dtview-offers ul li .off-desc h5 a {
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	margin-bottom: 0px;
	color: #0073C6;
}
.rating {
	display: block;
	font-size: 0;
	position: relative;
	height: 23px;
}
.rating img[src$="on.png"], .rating img[src$="off.png"], .rating img[src$="half.png"] {
	height: 10px;
	display: inline;
}
.rating img[src$="on.png"] {
	background: #FFAF00;
}
.rating img[src$="off.png"] {
	background: #e6e6e6;
}
.descr p {
	display: block;
	font-size: 12px;
	line-height:13px;
	font-weight: 500;
	margin: 0;
	color: #999;
}
.dtview-comments .dt-comment {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.dtview-comments .dt-comment:last-child {
	border-bottom: none;
	padding-bottom:0;
	margin-bottom:0;
}
.dtview-comments .dt-comment img {
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #fff;
}
.dtview-comments .dt-comment .infocomment {
	color:#666;
	float: left;
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	width: 80%;
	height: 16px;
	margin: 10px;
}
.dtview-comments .dt-comment .infocomment a {
	margin-right: 10px;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	margin-bottom: 0px;
	color: #0073C6;
	border-right: 1px #ccc solid;
	padding-right: 10px;
}
.dtview-comments .dt-comment p {
	width: 100%;
	margin-top: 10px;
}
.dtview-login {
	text-align:center;
}
.dtview-login button {
	display:inline;
}
.dtview-login span {
	padding:0 20px;
}
.top-profile {
	float:right;
}
.loged-btn {
	border: none !important;
}
.loged-btn:hover {
	background:transparent !important;
}
.loged-btn img {
	display: inline;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 33px;
	margin-right:5px;
}
.loged-btn span {
	font-weight:500;
}
.dropdown-menu.extended {
	width:170px;
	top:42px;
	padding:0 10px;
	box-shadow:0 0px 5px rgba(0,0,0,0.1) !important;
	border-radius:5px;
	-webkit-border-radius:5px;
	background:#fff;
	border:none;
	left:0px;
}
.notify-row .notification span.label {
	display:inline-block;
	height:21px;
	padding:5px;
	width:22px;
	font-size:12px;
	margin-right:10px;
}
.header .dropdown-menu.extended .alert-icon {
	float:left;
}
.header .dropdown-menu.extended.logout>li {
	width: 100%;
	padding:0;
	margin:0;
	webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom:1px #ccc solid;
}
.header .dropdown-menu.extended.logout>li:last-child {
	border:none;
}
.header .dropdown-menu.extended li a {
	font-size:14px;
	list-style:none;
	color:#000;
	padding:10px;
}
.header .dropdown-menu.extended li a i {
	margin-right:8px;
}
.dropdown-menu.extended li a:hover {
	color:#666;
	background:#fff;
}
.innercontent {
	margin:40px 0;
}
.mini-stat {
    background: #fcfcfc;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
	    -webkit-box-shadow: 1px 2px 0 #e5eaee;
    box-shadow: 1px 2px 0 #e5eaee;
}
.mini-stat-icon {
    width:60px;
    height:60px;
    display:inline-block;
    line-height:60px;
    text-align:center;
    font-size:30px;
    background:#eee;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    float:left;
    margin-right:10px;
    color:#fff;
}
.mini-stat-info {
    font-size:12px;
    padding-top:2px;
}
.mini-stat-info span {
    display:block;
    font-size:24px;
    font-weight:600;
}
.orange {
    background:#fa8564 !important;
}
.tar {
    background:#1fb5ac !important;
}
.mini-stat .green {
    background:#aec785 !important;
}
.pink {
    background:#a48ad4 !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #eee;
	}
.panel-heading {
    border-color: #eff2f7;
    font-size: 13px;
    font-weight: 400;
    background: #fafafa;
    text-transform: uppercase;
    padding: 15px;
}
.tools a {
    margin-left: 10px;
    color: #a7a7a7;
    font-size: 12px;
}
.appliedjobs {
    background: #f3f3f3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    padding: 13px;
    margin-bottom: 5px;
    cursor: move;
    list-style: none;
}
.appliedjobs a {
	position:absolute;
	font-size:13px;
	right:8px;
	top:8px;
	color:#888;
}
.label-status {
	margin-top:10px;
	font-size: 12px;
    line-height: 12px;
	 text-transform: uppercase;
}
.label-status span {
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    display: inline-block;
    z-index: 3;
	margin-left:6px;
}
.label-status span.open {
    background-color: #2969B0;
}
.label-status span.offered {
    background-color: #41A85F;
}
.label-status span.closed {
    background-color: #E14938;
}
.bg-muted {
    background-color: #f4f8fb !important;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs > li a {
	font-weight:700;
	color:#000;
}
.progress {
	margin-top:20px;
  -webkit-box-shadow: none !important;
  background-color: #ebeff2;
  box-shadow: none !important;
  height: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}
.progress-bar {
  box-shadow: none;
  font-size: 8px;
  font-weight: 600;
  line-height: 12px;
}
.control-label {
	font-size:13px;
    color: #797979;
}
#progressbarwizard input.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 7px 12px;
    height: 38px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#progressbarwizard .tab-content {
	       border: 1px #ccc solid;
    border-top: 1px #fff solid;
    padding: 15px;
}














